@import "tailwindcss";
/* @import "tailwindcss/preflight"; */

@layer components {
  .spinner {
    @apply mx-auto my-8; /* Tailwind utilities still work here */
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.button");
    border-right-color: transparent; /* <-- needs to differ or it won’t spin visually */
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.button");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  #nprogress .spinner {
    display: none !important;
  }

  #nprogress .bar {
    background: #000; /* black */
    height: 3px; /* thickness */
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
  }

  .swiper-slide-thumb-active {
    border-color: pink;
  }

  /* Only MobileFullscreenGallery pagination */
  .mobile-gallery .swiper-pagination {
    bottom: 48px; /* push dots down */
    text-align: center;
  }

  .mobile-gallery .swiper-pagination-bullet {
    background: white;
    opacity: 0.35;
  }

  .mobile-gallery .swiper-pagination-bullet-active {
    opacity: 1;
  }

  /*.swiper-container {
    padding-bottom: 70px; /* Add padding to make space for the dots below the content 
    position: relative; /* Ensure the container is the positioning context if needed 
  }*/

  /* .swiper-pagination {
    position: absolute !important; /* Forces it to the desired position 
    bottom: 0 !important; /* Positions the bottom edge of the pagination container at the bottom of the swiper-container's padding 
    text-align: center;
    width: 100%;
  } */

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

@root {
  --background: #ffffff;
  --foreground: #171717;
  --color-scheme: light;
}

:root {
  color-scheme: light;
}

@theme {
  /* open colors */

  --color-main: #ffa94d;
  --color-main-2: #ffb25f;
  --color-text-1: ##3a3a3a;
  --color-text-2: #4b3b2e;
  /* --color-button: #b8b7a6; */
  --color-button: #625548;
  --color-icon: #3b2a1a;
  --color-footer: #d0ccc8;
  /* --color-icon: #4b3b2e; */

  /* --color-button: #d6c2a9 */

  /*  #ffa94d tints */
  --color-main-50: #fff6ed;
  --color-main-100: #ffeedb;
  --color-main-200: #ffe5ca;
  --color-main-300: #ffddb8;
  --color-main-400: #ffd4a6;
  --color-main-500: #ffcb94;
  --color-main-600: #ffc382;
  --color-main-700: #ffba71;
  --color-main-800: #ffb25f;

  --color-primary-100: #ffe8cc;
  --color-primary-200: #ffba71;
  --color-primary-300: #ffc078;

  /* --color-main */

  /* grey */
  --color-grey-0: #333;
  /* #333 tints */
  --color-grey-50: #ebebeb;
  --color-grey-100: #d6d6d6;
  --color-grey-200: #c2c2c2;
  --color-grey-300: #adadad;
  --color-grey-400: #999999;
  --color-grey-500: #858585;
  --color-grey-600: #707070;
  --color-grey-700: #5c5c5c;
  --color-grey-800: #474747;

  /* #333 shades */
  --color-shadegrey-50: #2e2e2e;
  --color-shadegrey-100: #292929;
  --color-shadegrey-200: #242424;
  --color-shadegrey-300: #1f1f1f;
  --color-shadegrey-400: #1a1a1a;
  --color-shadegrey-500: #141414;
  --color-shadegrey-600: #0f0f0f;
  --color-shadegrey-700: #0a0a0a;
  --color-shadegrey-800: #050505;
  --color-shadegrey-900: #000000;

  --color-grey-1: #474747;
  --color-grey-2: #5c5c5c;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
